.card-content{
    border-left: 5px solid red; 
}
.container {
    padding: 25px;
}
.logo_image{
    width: 5%;
    float: left;
    opacity: 0.6;
}
.todo-button{
    background-color: #4CAF50;
    color: white;
    padding: 5px 5px;
    margin: 0px 0;
    border: none;
    float: right;
    border-radius: 4px;
    cursor: pointer;
}