.dynaTxt{
    margin-right: 10%;
    margin-left: 10%;
    background: antiquewhite;
    border: 3px solid #C62828;
}
/* .dynamic-card{
    padding: 1%;
    border-left: 8px solid #C62828;
} */
.navigation-active{
    border-left: 8px solid #C62828;
}
.navigation-inactive{
    border-left: 8px solid green;
}
.arr-data{
    display: inline-block;
    padding: 15px;
}
.sweet-loading{
    display: inherit;
    margin-left: 15px;
    margin-bottom: 4px;
}
.success-data{
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
}